################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DungeonRpg/.vs/DUNGEONRPG/FileContentIndex
/DungeonRpg/.vs/DUNGEONRPG
/DungeonRpg/.vs/ProjectEvaluation
